<div class="jumbotron">
  	<h1>Files</h1>
  	<p>This page displays the list of files that are currently downloading and allows users to sign up to be notified about a completion.</p>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Files in progress</h3>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="file in filesInProgress track by $index">
				<button class="btn btn-default button-notify-mc" type="button" data-toggle="collapse" 
						data-target="#fileDetailsWell{{$index}}" aria-expanded="false" aria-controls="fileDetailsWell{{$index}}"
						ng-click="fetchNotifier(file.name, $index)">
					<span class="glyphicon glyphicon-cog"></span>
				</button>
				{{file.name}}
				<span class="glyphicon glyphicon-bell notifier-added" ng-show="file.notifyEmail"></span>
				<div class="collapse" id="fileDetailsWell{{$index}}">
					<p></p>
					<div class="well">
						<div class="input-group">
							<span class="input-group-addon">Notify at</span>
							<input type="email" class="form-control" placeholder="someone@example.com" 
								   aria-label="Notification email address" ng-model="file.notifyEmail">
						</div>
						<p></p>
						<div class="input-group">
							<span class="input-group-addon">File Title</span>
							<input type="text" class="form-control" placeholder="e.g. Pulp Fiction, Archer" 
								   aria-label="Movie or Show Title" ng-model="file.title">
						</div>
						<p></p>
						<label class="radio-inline">
							<input type="radio" name="typeRadio{{$index}}" ng-click="setType(file, 'movie')">Movie
						</label>
						<label class="radio-inline">
							<input type="radio" name="typeRadio{{$index}}" ng-click="setType(file, 'show')">TV Show
						</label>
						<p></p>
						<div ng-show="file.type === 'show'">
							<div class="form-inline">
								<span class="input-group">
									<span class="input-group-addon">Season</span>
									<input type="text" class="form-control" placeholder="e.g. 5" 
										   aria-label="Season Number" ng-model="file.showSeason">
								</span>
								<span class="input-group">
									<span class="input-group-addon">Episode</span>
									<input type="text" class="form-control" placeholder="e.g. 10" 
										   aria-label="Episode Number" ng-model="file.showEpisode">
								</span>
							</div>
						</div>
						<p></p>
						<button type="button" class="btn btn-primary" ng-click="storeFileDetails(file)">
							Save Details
						</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="panel panel-default" ng-show="debug === true">
	<div class="panel-heading">
		<h3 class="panel-title">debug</h3>
	</div>

	<div class="panel-body">
		<pre>{{testData}}</pre>
	</div>
</div>