<div class="jumbotron">
	<h1>Settings</h1>
	<p>This page aggregates all the settings and under-the-hood options. New ones are added as they are found.</p>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Media Server settings</h3>
	</div>
	<div class="panel-body">
		
		<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="allowEmails"> Let media server send emails
		</label>
  		</div>
		<div ng-show="allowEmails === true">
			<div class="input-group">
				<span class="input-group-addon">Email address</span>
				<input type="email" class="form-control" placeholder="Enter email" ng-model="emailAddress">
			</div>
			<p></p>
			<div class="input-group">
				<span class="input-group-addon">Password</span>
				<input type="password" class="form-control" placeholder="Password" ng-model="password">
	 		</div>
	 		<p></p>
	 		<button type="button" class="btn btn-primary" ng-click="updateEmailSettings()">Save</button>
 		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Plex Settings</h3>
	</div>
	<div class="panel-body">
		<button type="button" class="btn btn-primary" ng-click="refreshPlex()">Refresh Plex Server</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">uTorrent settings</h3>
	</div>
	<div class="panel-body">
		<p><a href="" ng-click="externalClick('https://github.com/YashdalfTheGray/media-center-utility/blob/master/README.md#setting-up-utorrent-to-play-nice')">
			Configuring and installing the uTorrent Web UI
		</a></p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">VPN Settings</h3>
	</div>
	<div class="panel-body">
	Coming soon!
	</div>
</div>